In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

##### Importing data from yahoo finance historical data<br><br> "https://in.finance.yahoo.com/quote/PG/history?p=PG"       

#### Beiersdorf Aktiengesellschaft (BEI.DE)
#### The Procter & Gamble Company (PG)

In [32]:
tickers = ["PG", "BEI.DE"]
mydata = pd.DataFrame()
for t in tickers:
    mydata[t]=wb.DataReader(t,data_source='yahoo', start='2007-1-1')['Adj Close']

In [33]:
mydata.head()

                   PG     BEI.DE
Date
2007-01-03  43.435204  39.869827
2007-01-04  43.105434  40.131615
2007-01-05  42.735279  39.306618
2007-01-08  42.829502  39.314541
2007-01-09  42.721828  38.426079

In [34]:
mydata.tail()

                    PG      BEI.DE
Date
2020-02-11  124.160004  104.800003
2020-02-12  123.449997  105.050003
2020-02-13  124.959999  105.699997
2020-02-14  126.139999  105.800003
2020-02-18  124.870003  106.000000

In [9]:
mydata_returns = np.log(mydata/mydata.shift(1))

In [10]:
mydata_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2020-02-11 -0.016059  0.003824
2020-02-12 -0.005735  0.002383
2020-02-13  0.012157  0.006168
2020-02-14  0.009399  0.000946
2020-02-18 -0.010119  0.001889

[3304 rows x 2 columns]

We will check the standard deviation of each stock separately.   
So that hight SD will results into high volatile is the stock and results into risk

### PG

In [11]:
mydata_returns['PG'].mean()

0.0003197102525150133

In [15]:
mydata_returns['PG'].mean()*250 # Trading days in a year is 250
                                # Annual Rate of Return

0.07992756312875332

In [13]:
mydata_returns['PG'].std()

0.010923924962555781

In [16]:
mydata_returns['PG'].std()*250**0.5 # SD is the square root of the variance hence **0.5

0.17272241935222923

### Beiersdorf

In [21]:
mydata_returns['BEI.DE'].mean()

0.0002825373326992228

In [22]:
mydata_returns['BEI.DE'].mean()*250

0.0706343331748057

In [23]:
mydata_returns['BEI.DE'].std()

0.013529642681219433

In [24]:
mydata_returns['BEI.DE'].std()*250**0.5

0.21392243400440414

### Hence Beiersdorf has high SD, So it has high risk

#### now if we want to execute it in a single line

In [27]:
print(mydata_returns['BEI.DE'].mean()*250)
print(mydata_returns['PG'].mean()*250)

0.0706343331748057
0.07992756312875332

In [31]:
print(mydata_returns[['PG','BEI.DE']].std()*250**0.5)

PG        0.172722
BEI.DE    0.213922
dtype: float64